version: '3.9'

services:
  api:
    build: .
    command: npm run dev
    ports:
      - '${PORT:-4000}:4000'
    env_file:
      - .env.example
    depends_on:
      - redis
      - postgres
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${PGDATABASE:-orders}
      POSTGRES_USER: ${PGUSER:-postgres}
      POSTGRES_PASSWORD: ${PGPASSWORD:-postgres}
    ports:
      - '5432:5432'


